doctype html
html
  head
    meta(charset='utf-8')
    title Victor Miguez - Desenvolvedor Front-End
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content='Olá, meu nome é Victor Miguez, sou Desenvolvedor Front-End. Venha conhecer meus trabalhos! :)')
    link(href='/css/style.css', rel='stylesheet', type='text/css')
  body
    h1 Victor Miguez